.input-password {
  position: relative;

  button {
    position: absolute;
    right: 5px;
    background: none !important;
    display: flex;
    top: 12px;
    padding: 10px;
    align-items: center;
    justify-content: center;

    svg {
      color: $color-2;
    }
  }
}
